  .container {
    max-width: 960px;
  }

  .alert {
    position: fixed;
    top: 80px;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .bi.flex-shrink-0.me-2 svg{
    margin-left: 10px;
    width: 20px;
    
  }


.alert.alert-danger.alert-dismissible p{
  font-size: 18px;
}


